body {
    text-align: center;
}

.logo-container {
  width: 200px 200px;
}

.add-btn {
  margin: 7%;
}

#count-el {
  font-weight: 900;
  font-size: 3.5rem; 
}

#save-el {
  font-size: 1.2rem;
  font-weight: 600;
}

/* Count Button  */

.increment-btn { 
background-color: #1877f2; 
border: none; 
border-radius: 6px; 
color: #fff;
flex-grow: 1;
font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
font-size: 15px;
font-weight: 600;
height: 36px; 
line-height: 20px; 
min-width: 185px; 
padding: 0 16px 0 16px; 
transition: 0.3s; 
cursor: pointer;
display: block;
margin: 3% auto;
} 

.increment-btn:hover{
  background-color: #e4e6eb; 
  color: #050505; 
  font-size: 15px; 
  transition: 0.3s; 
  } 

/* Save Button */

  /* .save-btn {  */
    background-color: #f21818; 
    border: none; 
    border-radius: 6px; 
    color: #fff;
    flex-grow: 1;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 15px; 
    height: 36px;
    font-weight: 600;
    line-height: 20px; 
    margin-left: 8px;
    margin-right: 6px; 
    min-width: 185px; 
    padding: 0 16px 0 16px; 
    transition: 0.3s; 
    cursor: pointer;
    display: block;
    margin: 3% auto;
    }
    
    .save-btn:hover {
    background-color: #e4e6eb; 
    color: #050505; 
    font-size: 15px; 
    transition: 0.3s; 
    } 